body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bulb{
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.bulb.on{
    background-color: yellow;
    box-shadow: 0 0 20px yellow;
}
.switch button.active{
    background-color: yellow;
    color: black;
}
.switch{
    padding: 0px 10px;
    cursor: pointer;
}

